*.o
*.pyc

# eclipse setting
.settings
.cproject
.project

# vscode setting
.vscode

# Firmware project files
firmware/**/sdkconfig
firmware/**/sdkconfig.old
firmware/**/build

# Example project files
examples/**/sdkconfig
examples/**/sdkconfig.old
examples/**/build

# Example project files
dependencies/ESP8266_RTOS_SDK/examples/**/sdkconfig
dependencies/ESP8266_RTOS_SDK/examples/**/sdkconfig.old
dependencies/ESP8266_RTOS_SDK/examples/**/build

# Unit test app files
dependencies/ESP8266_RTOS_SDK/tools/unit-test-app/sdkconfig
dependencies/ESP8266_RTOS_SDK/tools/unit-test-app/sdkconfig.old
dependencies/ESP8266_RTOS_SDK/tools/unit-test-app/build

# Doc build artifacts
dependencies/ESP8266_RTOS_SDK/docs/*/_build/
dependencies/ESP8266_RTOS_SDK/docs/*/doxygen-warning-log.txt
dependencies/ESP8266_RTOS_SDK/docs/*/sphinx-warning-log.txt
dependencies/ESP8266_RTOS_SDK/docs/*/sphinx-warning-log-sanitized.txt
dependencies/ESP8266_RTOS_SDK/docs/*/xml/
dependencies/ESP8266_RTOS_SDK/docs/*/xml_in/
dependencies/ESP8266_RTOS_SDK/docs/*/man/
dependencies/ESP8266_RTOS_SDK/docs/doxygen_sqlite3.db

# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#

# eclipse setting
.settings

# MacOS directory files
.DS_Store